<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <meta name="author" content="PIXINVENT" />
    <title><%= PageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="/css/components.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <!-- END: Head-->

  <!-- BEGIN: Body-->

  <body
    class="vertical-layout vertical-menu-modern 1-column navbar-sticky footer-static bg-full-screen-image blank-page blank-page"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col="1-column"
  >
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <!-- register section starts -->
          <section class="row flexbox-container">
            <div class="col-sm-4 col-10">
              <div class="card bg-authentication mb-0">
                <div class="row m-0">
                  <!-- register section left -->
                  <div class="col-md-12 col-12 px-0">
                    <div
                      class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center"
                    >
                      <div class="card-header pb-1">
                        <div class="card-title">
                          <h5 class="text-center mb-2">Sign Up</h5>
                        </div>
                      </div>
                      <div class="text-center">
                        <p>
                          <small>
                            Please enter your details to sign up and Consult a
                            doctor now</small
                          >
                        </p>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <form action="/login">
                            <div class="form-row">
                              <div class="form-group col-md-6 mb-50">
                                <label for="inputfirstname4">first name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="inputfirstname4"
                                  placeholder="First name"
                                />
                              </div>
                              <div class="form-group col-md-6 mb-50">
                                <label for="inputlastname4">last name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="inputlastname4"
                                  placeholder="Last name"
                                />
                              </div>
                            </div>

                            <div class="form-group mb-50">
                              <label
                                class="text-bold-600"
                                for="exampleInputEmail1"
                                >Email address</label
                              >
                              <input
                                type="email"
                                class="form-control"
                                id="exampleInputEmail1"
                                placeholder="Email address"
                              />
                            </div>

                            <div class="form-group mb-2">
                              <label
                                class="text-bold-600"
                                for="exampleInputPassword1"
                                >Password</label
                              >
                              <input
                                type="password"
                                class="form-control"
                                id="exampleInputPassword1"
                                placeholder="Password"
                              />

                              <div class="form-group mb-50">
                                <label
                                  class="text-bold-600"
                                  for="exampleInputEmail1"
                                  >Contact Number Wtih Country Code</label
                                >
                                <div class="row">
                                  <div class="col-sm-3">
                                    <input
                                      disabled="disabled"
                                      type="number"
                                      class="form-control"
                                      id="exampleInputEmail1"
                                      placeholder="+966"
                                    />
                                  </div>

                                  <div class="col">
                                    <input
                                      type="number"
                                      class="form-control"
                                      id="exampleInputEmail1"
                                      placeholder="Contact Number"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button
                              type="submit"
                              class="btn btn-primary glow position-relative w-100"
                            >
                              SIGN UP
                            </button>
                          </form>
                          <hr />
                          <div class="text-center">
                            <small class="mr-25">Already have an account?</small
                            ><a href="/login"><small>Sign in</small> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- image section right -->
                </div>
              </div>
            </div>
          </section>
          <!-- register section endss -->
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <script src="js/vendors.min.js"></script>
  </body>
  <!-- END: Body-->
</html>
