<%- include('../../Default/view/includes/Head.ejs') %>

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />
 

    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="/css/components.css" />

    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/css/vertical-menu.css" />
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- END: Custom CSS-->
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
<!-- body tag and blue nav bar  -->
<%- include('includes/docNav.ejs') %>

<!-- complete side menu of doctor -->
<%- include('includes/docSideMenu.ejs') %>

    <!-- BEGIN: Content-->

    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <br />
          <div class="d-flex flex-row">
            <div class="page-heading">
              <h3><i class='iconapp bx bx-time-five'></i><span>Call Queue</span></h3>
          </div>
          </div>
<br>
          <!-- Call Queue Start -->
          <section id="table-Marketing">
            <div class="card">
              <div class="card-content">
                <div class="pb-0">
                  <!-- patient start -->
                  
                      <div id="callQueueId">
                        
                </div>
              </div>
            </div>
          </section>

          <!-- Call Queue Ends -->

          <!-- Call Queue Template -->
          <script id="callQueue-template" type="text/html">
       

            {{#result}}
            <!-- Patient one  -->
            <div class="row" style="margin: 2% 0 2% 1%;">
               <div class="col-sm-3">
                   <div class="d-inline-block">
                       <div class="pr-50 pImage " style="float:left;display: inline-block; align-self: stretch;">
                           {{#PatientModel.PatientPhoto}}
                           <img   src="{{PatientPhoto}}"  alt="image" style="   width: 80px;
                           height: 80px;                    
                           float:left;
                         "
                         />
                        {{/PatientModel.PatientPhoto}}
                        {{^PatientModel.PatientPhoto}}
                        <img  src="/assets/images/maledoc.png"  alt="image" style="
                        width: 80px;
                        height: 80px;                 
                        float:left;"
                      />
                        {{/PatientModel.PatientPhoto}}
                                <span class="onlinStatus"><b>                             
                                       {{#OnlineStatus}}
                                       <span class="bullet bullet-success bullet-sm"></span> 
                                       {{/OnlineStatus}}
                                       {{^OnlineStatus}}
                                       <span class="bullet bullet-offline bullet-sm"></span>
                                       {{/OnlineStatus}}                            
                                   </b>                            
                                   </span>                 </div>
       
                           <div class="divqueue" style="display: inline-block;">
                               <h6 class='patientName' style="padding-top: 2%;">
                                   {{PatientName}}
                               </h6>
                               <p class="callType">{{RequestType}}</p>
                               
                           </div>
                       </div>
                   </div>
               
                   <div class="col-sm-5 call-Queue-icons">
                       <p><strong>Contact Number :</strong> {{PatientPhone}}</p>                        
                       <p><strong>Patient waiting since :</strong> 
                       <input type= "hidden" class="hdnCallQueDate" value="{{{CallQueDateTime}}}" >
                       <span class="spnWaitingTime" >
                          {{{CallQueDateTime}}}    
                       </span>
                             </p>
                   </div>
                   
               <div class="col-sm-4 text-md-right">
                   <div class="call-Queue-icons">
                       {{#OnlineStatus}}
                       <a >
                           <button  type="button" patientName="{{PatientName}}" 
                            CallQueId="{{CallQueID}}"  cLogId ="0" patientID ="{{PatientID}}" 
                            onclick="OpenCommunicationWindow(this)" 
                            class="btncomm btn btn-audio-video mb-1">
                               <i class="bx bx-microphone"></i>
                               <b>Audio</b>
                           </button>
                       </a>
                       <a>
                           <button type="button"  patientName="{{PatientName}}" 
                           CallQueId="{{CallQueID}}" cLogId ="0" patientID ="{{PatientID}}" 
                            onclick="OpenCommunicationWindow(this)" 
                            class="btncomm btn btn-audio-video mb-1">
                               <i class="bx bx-video"></i>
                               <b>Video</b>
                           </button>
                       </a>        
                       {{/OnlineStatus}}
                       {{^OnlineStatus}}
                       <button  type="button" patientName="{{PatientName}}"  disabled
                       CallQueId="{{CallQueID}}"  cLogId ="0" patientID ="{{PatientID}}" 
                       onclick="OpenCommunicationWindow(this)" 
                       class="btncomm btn btn-audio-video mb-1">
                          <i class="bx bx-microphone"></i>
                          <b>Audio</b>
                      </button>
                  </a>
                  <a>
                      <button type="button"  patientName="{{PatientName}}" disabled
                      CallQueId="{{CallQueID}}" cLogId ="0" patientID ="{{PatientID}}" 
                       onclick="OpenCommunicationWindow(this)" 
                       class="btncomm btn btn-audio-video mb-1">
                          <i class="bx bx-video"></i>
                          <b>Video</b>
                      </button>
                       {{/OnlineStatus}}
       
       
       
                       <a>
                           <!-- Button for SMS Popup -->
                           <button type="button"patientName="{{PatientName}}"  phoneNo="{{PatientPhone}}"
                            class="btnpopupSmsReminder btn btn-audio-video mb-1"
                               >
                               <i class="bx bx-chat"></i>
                               <b>SMS</b>
                           </button>                    
                       </a>
                   </div>
               </div>
           </div>
       </div>
           <!-- patient one ends --> 
         
          {{/result}}
       
          {{^result.0}}   
               <h6 class="timeline-title">
                   No Call Que Available
               </h6>   
          {{/result.0}}
         
         </script>


          <!--SMS pop up -->
          <div class="modal fade text-left" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header bg-primary">
                  <h5 class="modal-title white" id="myModalLabel160">
                    SEND MESSAGE
                  </h5>
                </div>
                <div class="modal-body">
                  <br />
                  <form action="#">
                    <label>Enter Your Message Here </label>
                    <textarea class="form-control" id="basicTextarea" rows="4"
                      placeholder="Hello I am Doctor ABC . Your consultation Session will be start in 15minutes. Please stay Online. Thank you"></textarea>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                    <span class="d-none d-sm-block">Close<i class="bx bx-x sms-popup"></i></span>
                  </button>
                  <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                    <span class="d-none d-sm-block">Send<i class="bx bx-send sms-popup"></i></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- SMS POPUP ENDS -->
        </div>
      </div>
    </div>

    <!-- END: Content-->

    <!-- BEGIN: JS-->
      <script>
        function myFunction() {
          var myWindow = window.open("/docVideoCall", "MsgWindow", "width=1000,height=1000");

        }
      </script>
    <!-- BEGIN: Vendor JS-->
    <script src="/js/vendors.min.js"></script>

    <!-- BEGIN Vendor JS-->

    <script src="/js/vertical-menu-light.js"></script>
    <script src="/js/app-menu.js"></script>
    <script src="/js/app.js"></script>

    <script src="/services/docCallQue.js"></script>
    <script src="/services/loadingoverlay.min.js"></script>

    <!-- END: Theme JS-->

    <!-- END: JS-->
    <%- include('../../Default/view/includes/End.ejs') %>
