/***************** Header ******************/
a:hover{
    text-decoration:none;
}
#header {
    width: 100%;
    position: absolute;
    z-index: 9999;
}

    #header nav > div > ul div.menu-item-mega-container ul {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
/***************** Header Top ******************/
@media only screen and (min-width: 1025px) {
    .header_top, .header_mid {
        background-color: rgba(255,255,255,0.1);
    }
}


.header_top .header_top_but {
    width: 100%;
    height: 32px;
    position: relative;
    cursor: pointer;
    display: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.header_top .header_top_but > span {
    font-size: 14px;
    line-height: 14px;
    width: 1em;
    height: 1em;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header_top .header_top_outer, .header_top .header_top_but {
    border-color: rgba(255,255,255,0.1);
}

.header_top .header_top_outer {
    height: 100%;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.header_top .header_top_inner {
    height: 100%;
}
.content_wrap {
    display: block;
    min-width: inherit;
}
.cmsmasters_row.cmsmasters_row_top_default.cmsmasters_row_bot_default {
    z-index: 0;
}

 .cmsmasters_row_outer_parent {
    width: 100%;
    position: relative;
}

.ls-overflow-visible {
    overflow: visible !important;
}
#cmsmasters_row_ac02f7b0b6 .cmsmasters_row_outer_parent {
    padding-bottom: 0px;
}

#cmsmasters_row_ac02f7b0b6 .cmsmasters_row_outer_parent {
    padding-top: 0px;
}

.cmsmasters_row .cmsmasters_row_outer_parent {
    padding: 0.1px 0;
    z-index: 2;
}

#page, #main, #middle, .middle_content, #bottom, #footer, .headline, .headline_outer, .middle_inner, .cmsmasters_row, .cmsmasters_row_outer, .cmsmasters_row_outer_parent {
    width: 100%;
    position: relative;
}
    .cmsmasters_row_outer{
    width: 100%;
    position: relative;
}
.ls-overflow-visible {
    overflow: visible !important;
}
.post-password-form, .header_top_inner, .header_mid_inner, .header_bot_inner, .content_wrap, .headline_inner, .bottom_outer, .footer_inner, .cmsmasters_row_inner, .error_inner {
    position: relative;
    width: 980px;
    padding: 0 20px;
    margin: 0 auto;
}

.header_top .header_top_inner:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.header_top .header_top_right {
    height: 100%;
    float: right;
}

.header_top .social_wrap {
    outline: none;
}

.social_wrap {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

    .social_wrap .social_wrap_inner {
        height: 100%;
    }

    .social_wrap ul {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }

.header_top .social_wrap li {
    margin-left: 0;
    margin-right: 5px;
}

ul li:first-child, ol li:first-child {
    padding-top: 0;
}
.navigation li {
    border-color: #ffffff;
}

.social_wrap li {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
}

.header_top .social_wrap li:last-child {
    margin-left: 0;
    margin-right: 0;
}

.header_top .social_wrap a {
    font-size: 14px;
    line-height: 14px;
    width: 24px;
    height: 24px;
    display:block;
    position:relative;
    border-radius:50%;
}

.header_top .top_nav_wrap {
    height: 100%;
    display: block;
}

.header_top .responsive_top_nav {
    font-size: 15px;
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
    margin: 0 auto;
}

    .header_top .responsive_top_nav:before {
        width: 1em;
        height: 1em;
        margin: auto !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .header_top .responsive_top_nav.active {
        font-size: 30px;
    }

        .header_top .responsive_top_nav.active:before {
            content: '\00d7';
        }

.header_top .header_top_left {
    height: 100%;
    padding: 0 20px 0 0;
    overflow: hidden;
}

    .header_top .header_top_left:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

.meta_wrap {
    font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
}

.header_top .meta_wrap {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}



    .header_top .meta_wrap * {
        font-size: 12px;
    }

    .header_top .meta_wrap > * {
        display: inline-block;
        margin: 0 12px 0 0;
        color:#fff
    }

.header_top .header_top_outer, .header_top .header_top_but {
    border-color: rgba(255,255,255,0.1);
}

.header_top .header_top_but {
    width: 100%;
    height: 32px;
    position: relative;
    cursor: pointer;
    display: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

    .header_top .header_top_but > span {
        font-size: 14px;
        line-height: 14px;
        width: 1em;
        height: 1em;
        margin: auto !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

.header_top .meta_wrap > *:last-child {
    margin: 0;
}

.header_top .meta_wrap > *[class^="cmsmasters-icon-"]:before,
.header_top .meta_wrap > *[class*=" cmsmasters-icon-"]:before,
.header_top .meta_wrap > *[class^="cmsmasters_theme_icon_"]:before,
.header_top .meta_wrap > *[class*=" cmsmasters_theme_icon_"]:before {
    margin-left: 0;
    margin-right: 0.5em;
    vertical-align: middle;
}

.header_top .meta_wrap > p {
    padding: 0;
}

.header_top .meta_wrap .adr {
    white-space: nowrap;
}
/***************** Header Top Navigation ******************/
.top_line_nav {
    z-index: 205;
}

    .top_line_nav > li {
        height: 100%;
        border-left-width: 1px;
        border-left-style: solid;
        border-right-width: 0;
        border-right-style: solid;
    }

        .top_line_nav > li:last-child {
            border-right-width: 1px;
            border-right-style: solid;
        }

        .top_line_nav > li > a {
            height: 100%;
            padding: 0 12px;
        }

            .top_line_nav > li > a:after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }

            .top_line_nav > li > a .nav_item_wrap {
                display: inline-block;
                vertical-align: middle;
            }

    .top_line_nav ul a {
        padding: 4px 15px;
    }

/***************** Header Mid ******************/
.header_mid {
    display: block;
    clear: both;
    color:#FFF
}
.header_mid_outer {
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}



.header_mid .header_mid_outer {
    height: 100%;
    position: relative;
}

    .header_mid .header_mid_inner {
        height: 100%;
        position:relative;
    }

        .header_mid .header_mid_inner:after {
            content: '.';
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
            overflow: hidden;
        }

        .header_mid .header_mid_inner .logo_wrap {
            width: 220px;
        }
    .header_mid .logo_wrap {
        height: 100%;
        position: relative;
        float: left;
    }

.enable_header_centered .header_mid .logo_wrap {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.header_mid .logo_wrap:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.header_mid .logo_wrap .logo_text_wrap {
    display: inline-block;
    vertical-align: middle;
}

.header_mid .logo_wrap .title {
    display: block;
    line-height: 1em;
}

.header_mid .logo_wrap .title_text {
    padding: 0 0 0 3px;
}

.header_mid .logo_wrap .logo {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

    .header_mid .logo_wrap .logo .logo_retina {
        display: none;
    }

.header_mid_inner .logo img.logo_retina {
    width: 220px;
}
    .header_mid .logo_wrap .logo img {
        max-height: 100%;
        width: auto;
        height: auto;
        margin: auto !important;
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        bottom: 0;
    }

.header_mid .resp_mid_nav_wrap {
    height: 100%;
    margin: 0 0 0 6px;
    position: relative;
    display: none;
    float: right;
    overflow: hidden;
}
    .header_mid .resp_mid_nav_wrap .resp_mid_nav {
        font-size: 16px;
        width: 46px;
        height: 46px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        border-width: 1px;
        border-style: solid;
    }
.header_mid .mid_search_but_wrap {
    height: 100%;
    margin: 0 0 0 20px;
    position: relative;
    float: right;
}
    .header_mid .resp_mid_nav_wrap .resp_mid_nav_outer {
        height: 100%;
    }
.header_mid .mid_nav_wrap {
    height: 100%;
    position: relative;
    float: right;
}
nav > div {
    height: 100%;
}
    nav > div > ul {
        list-style: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        position: relative;
        z-index: 202;
        zoom: 1;
    }

nav ul {
    margin: 0;
    padding: 0;
}
nav {
    display: block;
    height: 100%;
    position: relative;
}
 .header_mid {
    -webkit-transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    -ms-transition: background-color .1s ease-in-out

    -o-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}

/***************** Header Mid Navigation ******************/
.mid_nav {
    position: relative;
}

    .mid_nav > li {
        height: 100%;
    }

        .mid_nav > li > a {
            height: 100%;
            padding: 0 10px;
            position: relative;
            color:#fff;
        }


.mid_nav > li > a, .bot_nav > li > a {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    padding: 0 5px;
}
        
nav > div > ul > li {
    float: left;
}
nav > div > ul li {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
.navigation > li > a, .top_line_nav > li > a, ul.navigation > a > span {
    font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    line-height: 100px;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
}
.footer_nav > li > a, #footer  a {
    font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    color: #fff;
}


.lnksignIn {
    text-shadow: rgba(44, 49, 55, 0.4) 0px 1px 0px;
    position: absolute;
    padding: 10.5859px 14.1146px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    font-family: open sans;
    font-size: 12px;
    color: rgb(255, 255, 255);
    top: 130px;
    left: 0px;
    margin: 0px;
    z-index: auto;
    height: 37px;
    border-radius: 0px;
    letter-spacing: 0px;
    width: 120px;
    text-align: center;
}


.lnksignUp {
    text-shadow: rgba(44, 49, 55, 0.4) 0px 1px 0px;
    position: absolute;
    padding: 10.5859px 14.1146px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    font-family: open sans;
    font-size: 12px;
    color: rgb(255, 255, 255);
    top: 130px;
    left: 140px;
    margin: 0px;
    z-index: auto;
    height: 37px;
    border-radius: 0px;
    letter-spacing: 0px;
    width: 120px;
    text-align: center;
}
    /***************** Footer ******************/
#footer {
    overflow: hidden;
    background-color: #0392ce;
    color: #fff;
}

.footer_inner {
    position: relative;
    overflow: hidden;
}
/***************** Footer Default ******************/
.cmsmasters_footer_default .footer_inner {
    padding-top: 95px;
    padding-bottom: 46px;
}

    .cmsmasters_footer_default .footer_inner > div:first-child {
        padding-top: 0;
    }

.cmsmasters_footer_default .footer_logo_wrap {
    position: relative;
    text-align: center;
    overflow: hidden;
}

    .cmsmasters_footer_default .footer_logo_wrap .footer_logo {
        display: inline-block;
    }

        .cmsmasters_footer_default .footer_logo_wrap .footer_logo > .footer_logo_retina {
            display: none;
        }

.cmsmasters_footer_default .footer_custom_html_wrap {
    padding: 20px 0 0;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.cmsmasters_footer_default .footer_custom_html {
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.cmsmasters_footer_default .footer_nav_wrap {
    padding: 64px 0 0;
    position: relative;
    overflow: hidden;
}

    .cmsmasters_footer_default .footer_nav_wrap div {
        text-align: center;
    }

.cmsmasters_footer_default .footer_nav {
    display: inline-block;
    width: auto;
}

    .cmsmasters_footer_default .footer_nav > li {
        padding: 0 11px 0;
        border-right-width: 1px;
        border-right-style: solid;
    }

        .cmsmasters_footer_default .footer_nav > li:last-child {
            border-width: 0;
            border-style: solid;
        }

        .cmsmasters_footer_default .footer_nav > li ul {
            display: none !important;
        }

.cmsmasters_footer_default .social_wrap {
    padding: 40px 0 0;
}

    .cmsmasters_footer_default .social_wrap .social_wrap_inner {
        text-align: center;
    }

    .cmsmasters_footer_default .social_wrap li {
        margin-left: 0;
        margin-right: 25px;
    }

        .cmsmasters_footer_default .social_wrap li:last-child {
            margin-left: 0;
            margin-right: 0;
        }

    .cmsmasters_footer_default .social_wrap a {
        font-size: 18px;
        line-height: 18px;
        width: 30px;
        height: 30px;
    }

.cmsmasters_footer_default .footer_copyright {
    display: block;
    padding: 46px 0 0;
    text-align: center;
}
/***************** Footer Small ******************/
.cmsmasters_footer_small {
    border-top-width: 1px;
    border-top-style: solid;
}

    .cmsmasters_footer_small .footer_inner {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .cmsmasters_footer_small .footer_nav_wrap {
        position: relative;
        float: right;
        overflow: hidden;
    }

    .cmsmasters_footer_small .footer_nav > li {
        margin: 0;
        padding: 0 20px 0 0;
        border-width: 0;
        border-style: solid;
    }

        .cmsmasters_footer_small .footer_nav > li:before {
            content: '';
            width: 1px;
            display: block;
            position: absolute;
            left: auto;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .cmsmasters_footer_small .footer_nav > li:last-child {
            padding: 0;
        }

            .cmsmasters_footer_small .footer_nav > li:last-child:before {
                content: none;
            }

        .cmsmasters_footer_small .footer_nav > li ul {
            display: none !important;
        }

    .cmsmasters_footer_small .social_wrap {
        float: right;
    }

        .cmsmasters_footer_small .social_wrap li {
            margin-left: 0;
            margin-right: 1px;
        }

            .cmsmasters_footer_small .social_wrap li:last-child {
                margin-left: 0;
                margin-right: 0;
            }

        .cmsmasters_footer_small .social_wrap a {
            font-size: 14px;
            line-height: 14px;
            width: 22px;
            height: 22px;
        }

    .cmsmasters_footer_small .footer_custom_html_wrap {
        position: relative;
        float: right;
        overflow: hidden;
    }

    .cmsmasters_footer_small .footer_copyright {
        display: block;
        padding: 1px 20px 1px 0;
        position: relative;
        overflow: hidden;
    }