/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.sidebaricon {
  font-size: 1.2rem;
  margin-left: 2px;
  margin-right: 20px;
  color: #5a8dee;
}

/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 0;
  border: 1px solid #dfe3e7;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/* left menu css */
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 7px 80px 7px 5px;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white !important;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-right:hover::before > .main-menu.menu-light .navigation li a {
  color: white;
}

/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color:#fff;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #475f7b;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  color: white !important;
}
.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

p {
  margin: 0px !important;
}

.sideButtons {
  background-color: transparent;
  width: 100%;
  border: none;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 0;
  padding-right: 0;
  color: #8494a7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.sideButtonCollapse {
  justify-content: center;
}
.sideButtons span {
  margin-left: 8%;
}

.sideButtons i {
  margin-left: 9%;
  font-size: 22px;
}

.sideIcons {
  margin-right: 5px;
}

.cardDesign {
  height: 250px;
}

.cmsmasters_quotes_slider .cmsmasters_quote {
  padding: 0 1px;
  position: relative;
  overflow: hidden;
}

div {
  text-align: left;
}

.cmsmasters_quotes_slider.cmsmasters_quotes_slider_type_box
  .cmsmasters_quote_inner_top {
  position: relative;
  min-height: 65px;
  padding: 10px 0 0 90px;
  overflow: hidden;
  display: flex;
  height: 66px;
}

.cmsmasters_quote_title {
  color:#fff;
  margin-bottom:2px;
  font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 18px;;
}
.cmsmasters_quote_content
{
  margin-top:8px;
  font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size:14px;
}
.cmsmasters_quote_subtitle {
  color:#000;
    font-size:13px;
}

.content-right{
  background-color:#e0e0e0;
  
}
.doctor-heading {
  color:#5a8dee;
  font-weight: bold;
  text-align: center;
}

.media-body h5 {
  color:#5a8dee;
  font-weight: bold;
}

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu,.header-navbar.fixed-top ,
.main-menu.menu-light .navigation,.main-menu
{
  background-color:#fff !important;
}

.media-list .media
{
  padding: 1.5rem 2rem .50rem;
}

.media-list .media {
  background-image: url(../assets/img.png);
  background-size: 238px 207px;
  background-position: 690px 7px;
  background-repeat: no-repeat;
  background-color: #fff;
}
.k-i-arrow-w {
  background-image: url(../assets/sprite.png);
  background-color: transparent;
  background-position: 0px -48px;
}

.k-i-arrow-e{
  background-image: url(../assets/sprite.png);
  background-color: transparent;
  background-position: 0px -16px;
}
