<div class="main-menu">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto" style="margin-top: 10px">
        <h1 class="text-light">
          <a href="/"><img src="/assets/LogDashBoard.jpg" /></a>
        </h1>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
          <i
            class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary"
            data-ticon="bx-disc"
          ></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
      data-icon-style="lines"
    >
      <br />
    <!-- <a href="/Admin/all-suggestions">
        <button class="sideButtons hvr-sweep-to-right">
          <i class='bx bx-user'></i><span>Manage suggestion</span>
        </button>
      </a> -->

      <!-- <a href="/Admin/all-values">
        <button class="sideButtons hvr-sweep-to-right">
          <i class='bx bx-user'></i><span>Manage values</span>
        </button>
      </a>
      <a href="/Admin/all-feedBack">
        <button class="sideButtons hvr-sweep-to-right">
          <i class='bx bx-user'></i><span>Manage FeedBack</span>
        </button>
      </a> -->
      

      <!-- <a href="/Admin/all-role">
        <button class="sideButtons hvr-sweep-to-right">
          <i class='bx bx-user'></i><span>Manage Role</span>
        </button>
      </a>
      <a href="/Admin/all-users">
        <button class="sideButtons hvr-sweep-to-right">
          <i class="bx bxs-group"></i><span>Manage Users</span>
        </button>
      </a>  
      <a href="/Admin/all-menus">
        <button class="sideButtons hvr-sweep-to-right">
          <i class='bx bx-sort-down'></i><span>Manage Menus</span>
        </button>
      </a>  
      <a href="/Admin/manage-permission">
        <button class="sideButtons hvr-sweep-to-right">
          <i class='bx bxs-user-rectangle'></i><span>Manage Permissions</span>
        </button>
      </a>      
      <a href="/Admin/all-specialities">
        <button class="sideButtons hvr-sweep-to-right">
          <i class='bx bxs-user-detail'></i><span>Manage Specialities</span>
        </button>
      </a>    
      <a href="/Admin/all-doctors">
        <button class="sideButtons hvr-sweep-to-right">
          <i class='bx bx-plus-medical'></i><span>Manage Doctors</span>
        </button>
      </a>
      <a href="/Admin/all-patient">
        <button class="sideButtons hvr-sweep-to-right">
          <i class="bx bx-user-plus"></i><span>Manage Patients</span>
        </button>
      </a>     -->
           
    </ul>
  </div>
</div>

<script>
  $(function () {
    GetMenus();
  });
  function GetMenus() {
    var url =
      baseURL +
      "Permissions/getMenuBasedOnRole?RoleId=" +
      $("#hdnroleId").val();
    ///==============start post request to add doctor
    $.ajax({
      url: url,
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      type: "GET",
      datatype: "application/json",
      contentType: "application/json; charset=utf-8",
      data: "",
      beforeSend: function () {
        //   $.LoadingOverlay("show");
      },
      success: function (data, textStatus, xhr) {
        var cls = "firstChild";
        $.each(data, function (ind, v) {
          if (ind == 0) {
            $("#main-menu-navigation").append(
              "<a class='firstChild' href='" +
                v.MenuUrl +
                "''>" +
                "<button class='sideButtons hvr-sweep-to-right'>" +
                "<i class='" +
                v.MenuIcon +
                "'></i><span>" +
                v.MenuName +
                "</span>" +
                "</button> </a>"
            );
          } else {
            $("#main-menu-navigation").append(
              "<a href='" +
                v.MenuUrl +
                "''>" +
                "<button class='sideButtons hvr-sweep-to-right'>" +
                "<i class='" +
                v.MenuIcon +
                "'></i><span>" +
                v.MenuName +
                "</span>" +
                "</button> </a>"
            );
          }
        });
      },
      error: function (xhr, textStatus, err) {
        if (xhr.status == "500" && xhr.statusText == "InternalServerError")
          console.log(xhr.statusText);
        else console.log(xhr.statusText);
      },
      complete: function (data) {
        // Hide Loading
      },
    });
  }
</script>
