<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <title><%= PageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="/css/components.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/colors.css" />
   
    <!-- END CSS-->
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->

  <body
    class="vertical-layout vertical-menu-modern 1-column navbar-sticky footer-static bg-full-screen-image blank-page blank-page"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col="1-column"
  >
    <!--start Forgot password Modal -->
    <div
      class="modal fade text-left"
      id="primary"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel160"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document"
      >   
   
        <div class="modal-content">
          <div class="modal-header bg-primary ">
            <h4 id="myModalLabel160">
              Forgot Password?
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>       
          </div>
          <div class="modal-body">
                <div class="card-header">
                  <div class="card-title" style="text-align: center;">
                    <!-- <h5 class="LoginHeading">
                      Forgot Password?
                    </h5> -->
                    <span class="txtlogin"
                      >Enter the email or phone number you used when you
                      joined and we will send you temporary password</span
                    >
                  </div>
                </div>
               
                <div class="card-content">
                  <div class="card-body">
                    <form id="frmforgotpwd" class="mb-2">
                      <div class="form-group mb-2">
                        <label
                          class="text-bold-600"
                          for="exampleInputEmailPhone1"
                          >Email or Phone</label
                        >
                        <input
                          required
                          type="text"
                          class="form-control"
                          id="txtEmailPhone"
                          placeholder="Email or Phone"
                        />
                      </div>
                      <div style="text-align: center;">
                        <button style="padding:10px 30px"
                          type="submit"
                          class="btn btn-primary glow position-relative"
                        >
                          SEND</button
                        ><br />
                        <br />

                        <span>Don’t receive yet?</span>
                        <br />
                        <br />

                        <div
                        class="form-group d-flex justify-content-between align-items-center mb-2"
                      >
                        <div class="text-left">
                          <div class="ml-2 ml-md-2 mr-1">
                            <a href="/login"><small<strong>Sign in</strong></small></a>
                          </div>
                        </div>
                        <div class="mr-3">
                          <a href="/public/login"><small<strong>Resend?</strong></small></a>
                        </div>
                      </div>


                        
                      </div>
                    </form>
                  </div>
                </div>
             
            

          </div>
        </div>
      </div>
    </div>
  <!--end Forgot password Modal -->

 <!--start Forgot password Modal -->
 <div
 class="modal fade text-left"
 id="popupResetPassword"
 tabindex="-1"
 role="dialog"
 aria-labelledby="myModalLabel160"
 aria-hidden="true"
>
 <div
   class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
   role="document"
 >   

</button>
   <div class="modal-content">
     <div class="modal-header bg-primary ">
       <h4 id="myModalLabel160">
         Reset Password?
       </h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>       
     </div>
   
     <div class="modal-body">
         
           <div class="card-content">
             <div class="card-body">
              <form id="frmresetpwd" class="mb-2">
                <div class="form-group mb-2">
                  <label class="text-bold-600" for="exampleInputusername">Username</label>
                  <input required type="text" class="form-control" 
                  name="username" id="txtUsername" placeholder="Username"/>
                </div>
                <div class="form-group mb-2">
                  <label class="text-bold-600" for="exampleInputEmailPhone1">Old Password</label>
                  <input required type="password" class="form-control" name="oldPassword" id="txtOldPassword" placeholder="Old Password"/>
                </div>
                <div class="form-group mb-2">
                  <label class="text-bold-600" for="exampleInputEmailPhone1">New Password</label>
                  <input required type="password" class="form-control" name="newPassword" id="txtNewPassword" placeholder="New Password"/>
                </div>
                <div class="form-group mb-2">
                  <label class="text-bold-600" for="exampleInputEmailPhone1">Confirm New Password</label>
                  <input required type="password" class="form-control" name="confirmNewPassword" id="txtConfirmNewPassword" placeholder="Confirm New Password"/>
                </div>

                <div style="text-align: center;">
                  <button style="padding:10px 30px"
                    type="submit"
                    class="btn btn-primary glow position-relative"
                  >
                  RESET PASSWORD</button>
                    </div>
                    </form>
             </div>
           </div>
        
       

     </div>
   </div>
 </div>
</div>
<!--end Forgot password Modal -->


    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <!-- login page start -->
          <section id="auth-login" class="row flexbox-container">
            <div class="col-xl-8 col-11">
              <div class="card bg-authentication mb-0">
                <div class="row m-0">
                  <!-- left section-login -->
                  <div class="crtAccount col-md-5" style="padding-left: 40px">
                    <div class="card-header loginLogo">
                      <a href="/"><img src="/assets/logo.jpg" /></a>
                    </div>
                    <div class="card-content">
                      <div class="card-body">
                        <h1 class="txtwelcome">Welcome back!</h1>
                        <span class="txtlogin"
                          >Sign in to check out what you’ve missed since you
                          were last here.</span
                        >
                        <br />
                        <br />
                        <div>
                          <small class="mr-25" style="font-size: 15px"
                            >New User?</small
                          ><a style="font-size: 1.2rem" href="signup"
                            ><small>
                              <strong><u>Create an account</u></strong></small
                            ></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- right section image -->
                  <div class="loginArea col-md-7 col-12 px-0">
                    <div
                      class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center"
                      style="
                        padding-left: 60px !important;
                        padding-right: 60px !important;
                      "
                    >
                      <div class="card-header">
                        <div class="card-title">
                          <h5 class="LoginHeading">Sign in</h5>
                          <span class="txtlogin"
                            >Please enter your details to sign in and consult
                            with doctor now.</span
                          >
                        </div>
                        <span class="error" style="display: none"></span>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <form action="login" method="POST" id="frmLogin">
                            <div class="form-group mb-50">
                              <label
                                class="text-bold-600"
                                for="exampleInputEmail1"
                                >Email or Phone</label
                              >
                              <input
                                required
                                id="txtEmail"
                                name="email"
                                type="email"
                                class="form-control"
                                id="exampleInputEmail"
                                placeholder=" Email or Phone"
                              />
                            </div>

                            <div class="form-group">
                              <label
                                class="text-bold-600"
                                for="exampleInputPassword1"
                                >Password</label
                              >
                              <input
                                required
                                name="Password"
                                id="txtPassword"
                                type="password"
                                class="form-control"
                                id="exampleInputPassword1"
                                placeholder="Password"
                              />
                            </div>
                            <div
                              class="form-group d-flex flex-md-row flex-column justify-content-between"
                            >
                              <div
                                style="padding: 0"
                                class="col-md-9 text-left mb-50"
                              >
                                <div class="checkbox checkbox-sm">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="exampleCheck1"
                                  />
                                  <label
                                    class="checkboxsmall"
                                    for="exampleCheck1"
                                    ><small>Keep me logged in</small></label
                                  >
                                </div>
                              </div>
                              <div style="padding: 0" class="col-sm-4">
                                <button
                                  type="submit"
                                  class="btn btn-primary glow position-relative"
                                >
                                  SIGN IN
                                </button>
                                
                              </div>
                             
                            </div>
                            <div class="form-group d-flex flex-md-row flex-column justify-content-between" style="color: red;"> <%= PageError %> </div>
                            <div
                              class="form-group d-flex flex-md-row flex-column justify-content-between"
                            >
                              <div style="padding: 0" class="col-md-9 mb-50">
                                <a href="#" data-toggle="modal" class="card-link"
                                   data-target="#primary"> <small>Forgot Password?</small></a>

                              </div>
                              <div style="padding: 0" class="col-sm-4">
                                <a href="#" data-toggle="modal" class="card-link"
                                data-target="#popupResetPassword"> <small>Reset Password</small></a>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- login page ends -->
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <!-- BEGIN: Vendor JS-->
   
    <script src="js/vendors.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>

    <script src="/js/sweet-alerts.js"></script>
    <!-- BEGIN: Services calling JS-->
    <script src="/services/jquery.validate.min.js"></script>
    <!-- <script src="/services/LoginSignUp.js"></script> -->
    <script src="/services/loadingoverlay.min.js"></script>
    <script src="/js/Services/ForgotPassword.js"></script>
  <!-- END: Body-->
</html>
