<%- include('includes/AdminHead.ejs') %>

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css" />

<link rel="stylesheet" type="text/css" href="/css/components.css" />
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="/css/vertical-menu.css" />
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<!-- END: Custom CSS-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<!-- body tag and blue nav bar  -->
<%- include('includes/adminNav.ejs') %>

<!-- complete side menu of doctor -->
<%- include('includes/adminSideMenu.ejs') %>


<!-- BEGIN: Content-->

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <br />
            <div class="d-flex flex-row">
                <div class="page-heading">
                    <h3>Kindah Manage Permissions</h3>
                </div>
            </div>
            <!-- basic info -->
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <form id="frmMenu" class="form-horizontal">
                            <div class="card">                              
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label><strong>Role:</strong></label>
                                                            <select style="padding:5px 11px 5px;width:100%;" 
                                                             name="dboRole" id="dboRole" class="form-control"></select> 
                                                            </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label><strong> Menus:</strong></label>
                                                        <div id="listMenus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="btnAssignMenu" type="button" class="btn btn-primary">
                                Assign Menu
                            </button> &nbsp;
                            <a href="/Admin/manage-permission">
                            <button id="btnCancel" type="button" class="btn btn-primary">
                                Cancel
                            </button>
                            </a>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- BEGIN: Content-->

<!-- END: Content-->

<!-- BEGIN: JS-->
<!-- BEGIN: Vendor JS-->
<!-- <script src="/js/vendors.min.js"></script> -->

<!-- BEGIN Vendor JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="/js/vertical-menu-light.js"></script>
<script src="/js/app-menu.js"></script>
<script src="/js/app.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/sweet-alerts.js"></script>


<!-- END: Theme JS-->


<!-- BEGIN: Services calling JS-->
<script src="/services/jquery.validate.min.js"></script>
<script src="/services/Admin/ManagePermission.js"></script>
<script src="/services/loadingoverlay.min.js"></script>


<!-- END: JS-->
<%- include('../../Default/view/includes/End.ejs') %>