<%- include('includes/AdminHead.ejs') %>

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />

<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css" />
<link rel="stylesheet" type="text/css" href="/css/colors.css" />
<link rel="stylesheet" type="text/css" href="/css/components.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" 
/>



<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="/css/vertical-menu.css" />
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<!-- END: Custom CSS-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<!-- body tag and blue nav bar  -->
<%- include('includes/adminNav.ejs') %>

<!-- complete side menu of doctor -->
<%- include('includes/adminSideMenu.ejs') %>

<!-- BEGIN: Content-->


<!-- BEGIN: Content-->

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">        <div class="d-flex flex-row">
                <div class="page-heading">
                    <h3>Kindah Dashboard</h3>
                </div>
            </div>
          
            <!-- Start  table -->
          <div class="row col-sm mb-2">
                  <div style="padding-left:0" class="col-md-3">
                    <label>From Date</label>
                    <fieldset class="position-relative has-icon-left">
                      <input id="dtFrom" type="date" class="form-control " placeholder="Select Date" />
                      <div class="form-control-position">
                        <i class="bx bx-calendar"></i>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-3">
                    <label>To Date</label>
                    <fieldset class="position-relative has-icon-left">
                      <input id="toDT" type="date" class="form-control" placeholder="Select Date" />
                      <div class="form-control-position">
                        <i class="bx bx-calendar"></i>
                      </div>
                    </fieldset>
                  </div>
              
          </div>
          <div class="row col-sm">
            <div class=" col-sm-4" style="padding-left:0;">
                <div class="PatientCountHeader col-sm-12">No of patients seen for last 6 months</div>
                <div id="PatientChart"></div>                
            </div>
            <div class="col-sm-4">
                <div class="DepartMentWiseHeader col-sm-12">No of visits for last 6 months</div>
                <div id="DepartmentWiseChart"></div>                
            </div>
            <div class="col-sm-4">
                <div class="DoctorWiseHeader col-sm-12">The balance for last 6 months</div>
                <div id="DoctorWiseChart"></div>                
            </div>
          </div><!--end of row-->


            <!-- End  table -->
        </div>
    </div>
</div>
<!-- END: Content-->

<!-- END: Content-->

<!-- BEGIN: Vendor JS-->
<!-- <script src="/js/vendors.min.js"></script> -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="/js/vertical-menu-light.js"></script>
<script src="/js/app-menu.js"></script>
<script src="/js/app.js"></script>
<script src="/js/pickadate/picker.js"></script>
<!-- <script src="/js/pickadate/picker.date.js"></script> -->
<!-- <script src="/js/pickadate/picker.time.js"></script> -->
<!-- <script src="/js/pickadate/legacy.js"></script> -->
<!-- <script src="/js/daterange/moment.min.js"></script> -->
<!-- <script src="/js/daterange/daterangepicker.js"></script> -->


<script type="text/javascript" charset="utf8" 
src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


<!-- BEGIN: Services calling JS-->
<script src="/services/Admin/KindahFinanCial.js"></script>
<script src="/services/loadingoverlay.min.js"></script>
<!-- END: JS-->

<%- include('../../Default/view/includes/End.ejs') %>